// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$breakpoint: 1200px;

.business-form {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  padding: 12px;
}

.business-form > * {
  font-size: 1.25rem;
  margin: 12px;
}

.business-form input {
  margin-left: 12px;
}

.business-form textarea {
  margin-left: 12px;
}

.business-form select {
  margin-left: 12px;
  padding: 12px;
  font-size: 1.25rem;
}

.resource-container button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#business-index-table {
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

#business-index-table td, #customers th {
 border: 1px solid #ddd;
 padding: 8px;
 @media (max-width: $breakpoint) {
   font-size: 3rem;
   border: 2px solid #ddd;
   padding: 16px;
 }
}

#business-index-table tr:nth-child(even){background-color: #f2f2f2;}

#business-index-table tr:hover {background-color: #ddd;}

#business-index-table th {
 padding-top: 12px;
 padding-bottom: 12px;
 padding-left: 8px;
 text-align: left;
 background-color: #76A9DD;
 color: white;
 @media (max-width: $breakpoint) {
   font-size: 4rem;
   padding:16px;
 }
}

#business-index-table a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  @media (max-width: $breakpoint) {
    font-size: 4rem;
  }
}

#business-index-table a:hover {
  color: #006BDE;
}

#foodservice-contact-btn {
  background-color: #4CAF50;
}

#foodservice-contact-btn:hover {
  background-color: white;
  color: #4CAF50;
}

#relief-contact-btn {
  background-color: #f44336;
}

#relief-contact-btn:hover {
  background-color: white;
  color: #f44336;
}
